build/
bin/
env/
data/
dpi/dpi_data/*.tsv
*.o
*/.DS_Store
.DS_Store
gwas_t.*
gwas_u.*
*.signed
*.pem
gwas_args.h
gwasenc
gwashost
gwas_nonoe
*.out
*.log
test_logistic
*_debug
.vscode/
callgrind*
*-multiplied.tsv
.gdbinit
output*.txt
*-*.tsv
generated*.tsv
sgx_linux_x64_driver.bin
*.crc
*.mt
ip.txt
__pycache__

